!!! 5

%head
  %title Anna Pietschmann
  %base{href: "."}
  %link{:charset => "utf-8", :href => "./screen.css", :media => "all", :rel => "stylesheet", :type => "text/css" }
  %link{href: "https://fonts.googleapis.com/css?family=Roboto&display=swap", rel: "stylesheet"}
  %meta{charset: "utf-8"}

%body
  %header
    %h1 
      %span Kurzprofil
      %strong Anna Pietschmann
      %small Studentin, Hundetrainerin, Tutorin, Bloggerin

    %p.plot
      Mich zeichnen die Leidenschaft zu gründlicher Recherche, auch in themenfremde Aufgabengebiete, eine hohe Online Affinität und die Freude an der Arbeit und Kommunikation mit Menschen aus.


  .container

    %aside

      %address
        %strong Anna Pietschmann
        .street Stockartstr. 18
        .street-add  04277 Leipzig
        .phone 
          %a{href: "tel:+491782062846"} &phone; 0178 2062846
        .email
          %a{href: "mailto:apietschm@gmail.com"} &#9993; apietschm@gmail.com
        .addendum
          Geboren 16. September 1987 in Dresden



      .img
        %img{src: "img/anna-pietschmann.jpg"}


      #languages
        %h3 Sprachkentnisse
        %dl
          %dt Englisch
          %dd verhandlungsssicher
          %dt Portugiesisch
          %dd konversationssicher

        

    %main
      .main-block
        %h2 Ausbildung

        %table

          %tr
            %th 2003 - 2006
            %td Jungstudentin in den Fächern Klavier und Korrepetition an der Hochschule für Musik und Theater Felix Mendelssohn Bartholdy

          %tr
            %th 2007
            %td Abitur, Thomasschule zu Leipzig

          %tr
            %th 2007 - 2009
            %td Cursinho/Vestibuar UFPR Curitiba – Parana Brasilien

          %tr
            %th 2010 - 2014
            %td Studium Deutsch als Fremdsprache Universität Leipzig

          %tr
            %th
              .still 2014 - heute
            %td Studium Psychologie Fernuniversität Hagen


      .main-block
        %h2 Beruflicher Werdegang

        %table
          %tr
            %th 2012 - 2018
            %td organisatorische Unterstützung des Verbandes deutscher Musikschulen- Landesverband Sachsen e.V. bei der Durchführung der Regionalwettbewerbe von Jugend Musiziert
          %tr
            %th
              .still 2014 - heute
            %td Trainerin für Mensch mit Hund, Tierschutzarbeit, Dog Walking und Dozentinnentätigkeit auf Seminaren zum Thema Gefahrenprävention im Umgang mit gefährlichen Hunden

          %tr
            %th
              .still 2014 - heute
            %td
              Schreiben für unabhängigen, auf Hunde fokussierten Wissenschaftsblog 
              %a{href: "http://fluffology.de"} fluffology.de
              (derzeit 25 000 Besucher pro Monat) 

          %tr
            %th 2017
            %td studentische Assistenz im Max Planck Institut für evolutionäre Anthropologie-Studien zur Kooperation von Wölfen im Vergleich zu Hunden

          %tr
            %th 2018
            %td studentische Assistenz im Max Planck Institut für evolutionäre Anthropologie -Studien zu conformity bias bei Primaten
          %tr
            %th 2019
            %td Hundezentrum Niederreissen - Hundetraining, Hundeurlaubsbetreuung und Langzeitpflege verhaltensaufälliger Hunde
          %tr.highlight
            %th
              .still 2021 - heute
            %td 
              Selbständige Hundetrainerin &mdash;
              %a{href: "http://snobdog.de"} snobdog.de

          %tr
            %th
              .still 2021 - heute
            %td Dogchilla - Hundetagesstätte
          %tr
            %th
              .still 2021 - heute
            %td Kynologisch GbR - Online Tutorin

          %tr
            %th
              .still 2020 - heute
            %td Content Prüfung F&P


  %footer
    Stand:
    %i 2021-01-13

